<!DOCTYPE html>
<html lang="en">
<head>
	<title>Documenter - Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/maindocu.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
                <button type="button" class="btn btn-primary btn-sm">&laquo; Back to Result</button>
				<span class="contact100-form-title">
					Document Solutions
				</span>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Enter the title here!">
					<span class="label-input100">Title *</span>
				</div>
               
                <div class="wrap-input100 validate-input bg1" style= display:inline;>
                    <span class="label-input100">
					    Tagged Unit(s) *
				    </span>
                    <div>
                        <p>The text within 1</p>
                        <p>The text within 2</p>
                        <p>The text within 3</p>
                        <p>The text within 4</p>
                    </div>
                    	
                </div>

				<div class="wrap-input100 validate-input bg0 m-t-20" >
					<span class="label-input100">Description</span>
					<textarea class="input100" name="message" disabled></textarea>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<label for="formFileMultiple" class="label-input100">Uploaded Image(s) *</label>
					<input class="input100" type="file" id="formFileMultiple" multiple>
				</div>
                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                    <span class="label-input100">Images</span>
                    <img src="..." class="rounded float-start" alt="...">
                    <img src="..." class="rounded float-end" alt="...">
                    <img src="..." class="rounded float-start" alt="...">
                </div>

                <div class="wrap-input100 validate-input bg0">
                    <span class="label-input101">Created by: <a href="" >Matthew Johnson</a> </span> 
                    <span class="label-input102" >Created:  <a href=""> March, 3rd 2021</a> </span>  
				</div>  
                <div>
                    <button type="button" class="btn btn-primary btn-sm">&laquo; Back to Result</button>
                    <button type="button" class="btn btn-primary btn-sm">Print</button>
                </div>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
	<script src="js/main3.js"></script>


</body>
</html>
